<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="me-2 position-relative">
    <h5 class="d-flex align-items-center badge rounded-1 text-light py-1 px-2" appCopy [copy]="tag.name" appColorize
        [colorValue]="tag.name">
        <span *ngIf="shorten ; else elseblock" ngbTooltip="copy" class="py-1 cursor-pointer">{{tag.name | shorten}}</span>
        <ng-template #elseblock>
            <span class="py-1">{{tag.name}}</span>
        </ng-template>
        <span class="ms-1 text-white cursor-pointer p-1" tabindex="0" *ngIf="!disable" (click)="remove()">x</span>
    </h5>
</div>