<div class="d-flex flex-column justify-content-center align-items-center ">
    <h2>Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class=" w-50">
        <div class="mb-3">
            <label for="name" class="">Register name:</label>
            <input type="text" formControlName="name" class="form-control " required>
        </div>
        <div class="mb-3">
            <label for="password" class="">Password:</label>
            <input type="password" formControlName="password" class="form-control " required>
        </div>
        <div class="mb-3">
            <label for="repassword" class="">Repeat Password:</label>
            <input type="password" formControlName="rePassword" class="form-control " required>
        </div>
        <div *ngIf="formError" class="text-danger">
            {{formError}}
        </div>
        <button type="submit" class="btn btn-primary w-100 mt-5" [disabled]="!registerForm.valid">Login</button>
    </form>
</div>